/* @import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap'); */
/* latin */
@font-face {
  font-family: 'Sigmar One';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  /* src: url(https://fonts.gstatic.com/s/sigmarone/v11/co3DmWZ8kjZuErj9Ta3do6Tppg.woff2) format('woff2'); */
  src: url(./font/sigmarone.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.navtext {
    font-family: 'Sigmar One', cursive;
    color: aliceblue;
    font-size: large;
}

.flip {
    animation-name: flip;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes flip {
    0% {
      color:  rgb(255, 255, 255);
      text-shadow: 1px 1px #f70909;
    }
  
    50% {
        color:  rgb(255, 255, 255);
        text-shadow: 1px 1px #f70909;
    }

    75% {
        color:  rgb(255, 255, 255);
        text-shadow: 1px 1px #f70909;
    }
    
    100% {
      color: rgb(209, 3, 3);
      text-shadow: 1px 1px #ffffff;
    }
  }